

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.welcome{ width:auto;max-width:1348px;height: auto; min-height:590px;  border: 0px solid #000000; text-align: center; }

        .wellcometop{width:100%;  border: 0px solid #000000; text-align: center ;}
        .wellcomebottom{width:100%; height:100px;border: 0px solid #000000; text-align: center; margin-top: 50px; }
        .shadow{width:450px; height: 380px;  background-color: #394557;margin:0 auto; border-bottom: 0 none;}
        .shadowindiv{background-color:#f7f7f7;float: left;  height: 365px; margin: 7px;width: 435px;}
        .wellcometop p b{ font-size: 30px; color:#DD5A43;}
        .wellcometop b{ font-size:15px; color:#5090c1;}

        .logindiv{float:left; height: 235px; margin-left:10px; margin-right:10px;width: 415px;}
        .logindivtop{float:left; height:50px;  margin-left:10px; margin-right:10px; margin-top:14px;width: 413px;  border-bottom: 1px solid #5090c1; text-align: center;}
        .logindivbottom{float:left; height:50px; margin-left:10px; margin-right:10px;width: 415px; background:#5090c1; text-align: center; line-height: 45px;}
        .inputtext{ width: 270px; height: 30px; font-size: 18px; font-weight: bolder;}
        .loginbutton{ background: #2283C5; border:none; height:35px; width: 120px; margin-top: 35px; cursor: pointer; color: #ffffff; font-weight: bolder; margin-left:40px; }
        .logindiv table{ margin: 20px;}
        .logindiv table tr td{ padding-top: 10px;}
        .loginFooter{ font-weight:normal; font-size:10px; margin-top: -20px;}
        .footerColor{ font-weight: bold; font-size: 15px;}
        
        
        
        
/* login code close*/
