.DynarchCalendar-focused {
    background: #FFFFFF;
}

.DynarchCalendar-topBar {
    /*background: url("brushed-steel.jpg") no-repeat 50% 0;*/
    background: #FFFFFF; /* Old browsers */
    
}

.DynarchCalendar-bottomBar {
    /*background: url("brushed-steel.jpg") no-repeat 50% 50%;*/
    background: #FFFFFF;
}

.DynarchCalendar-hover-title,
.DynarchCalendar-hover-navBtn,
.DynarchCalendar-hover-bottomBar-today,
.DynarchCalendar-menu table td div.DynarchCalendar-hover-navBtn {
    /*background: #dde url("coolbg.png") repeat-x 0 50%;*/
    background: #FFFFFF;
}
.DynarchCalendar-hover-title div,
.DynarchCalendar-hover-navBtn div { background-color: transparent; }

.DynarchCalendar-pressed-title,
.DynarchCalendar-pressed-navBtn,
.DynarchCalendar-pressed-bottomBar-today,
.DynarchCalendar-menu table td div.DynarchCalendar-pressed-navBtn {
    /*background: #445 url("coolbg.png") repeat-x 0 50%;*/
   background: #FFFFFF;
}
.DynarchCalendar-pressed-title div,
.DynarchCalendar-pressed-navBtn div { background-color: transparent; }

.DynarchCalendar-hover-week,
.DynarchCalendar-focused .DynarchCalendar-hover-week {
    /*background: #ddd url("coolbg.png") repeat-x 0 50%;*/
    background: #FFFFFF;
}

.DynarchCalendar {
    /*background: url("steel.jpg") no-repeat 50% 30px;*/
    background: #FFFFFF;
}







.DynarchCalendar-day-selected {
    background: #FFFFFF;
    color: #fff !important;
    background-image: url("coolbg.png");
    background-position: 0 50%;
    background-repeat: repeat-x;
}

.DynarchCalendar-day-today.DynarchCalendar-day-selected {
    background: #FFFFFF;
    color: #fff !important;
}

.DynarchCalendar-focused .DynarchCalendar-body {
    background: url("../shadow-b.png") repeat-x 0 0;
}
